@font-face {
  font-family: "Montserrat-Arabic";
  font-weight: 300;
  src:  url("../../../assets/fonts/Montserrat-Arabic-Regular.woff2") format('woff2'),
        url("../../../assets/fonts/Montserrat-Arabic-Regular.woff") format('woff');
}
@font-face {
  font-family: "Montserrat-Arabic";
  font-weight: 400;
  src:  url("../../../assets/fonts/Montserrat-Arabic-SemiBold.woff2") format('woff2'),
        url("../../../assets/fonts/Montserrat-Arabic-SemiBold.woff") format('woff');
}
@font-face {
  font-family: "Montserrat-Arabic";
  font-weight: 500;
  src:  url("../../../assets/fonts/Montserrat-Arabic-Medium.woff2") format('woff2'),
        url("../../../assets/fonts/Montserrat-Arabic-Medium.woff") format('woff');
}